*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
gradle.properties
mobile/src/main/res/values/api_keys.xml
*.apk
keystore.properties
mobile/keystore.properties
*.lnk
*.log
wear/src/main/res/values/api_keys.xml
.idea/markdown-navigator.xml
/.idea/*
*.aab
common/src/main/res/values/api_keys.xml
publisher-key.json
spacelaunchnow.keystore
wear/release/output.json
mobile/google-services.json
