<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.calebjones.spacelaunchnow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Required to act as a calendar service. -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required for in-app billing. -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".LaunchApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appNameLabel}"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        tools:replace="label">
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="screenSize"
            android:theme="@style/BaseAppTheme.Launcher"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LaunchDetailActivity"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GoogleMapsKey" />

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".ui.activity.OrbiterDetailActivity" />
        <activity android:name=".ui.activity.LauncherDetailActivity" />

        <service
            android:name=".content.services.LaunchDataService"
            android:exported="false" />
        <service
            android:name=".content.services.MissionDataService"
            android:exported="false" />
        <service
            android:name=".content.services.VehicleDataService"
            android:exported="false" />
        <service
            android:name=".content.services.LibraryDataService"
            android:exported="false" />
        <service
            android:name=".content.services.NextLaunchTracker"
            android:exported="false" />

        <receiver android:name=".content.receivers.UpdateUpcomingLaunchesReceiver">
            <intent-filter>
                <action android:name="UPDATE_UP_LAUNCHES" />
                <action android:name="UPDATE_PREV_LAUNCHES" />
                <action android:name="CHECK_NEXT_LAUNCH_TIMER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".content.receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="za.co.riggaroo.materialhelptutorial.tutorial.MaterialTutorialActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:theme="@style/BaseAppTheme" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dc9cc4c8ab9f9d19cc6ba7cf0cdef85dab29d1ec" />

        <activity
            android:name=".ui.activity.DebugActivity"
            android:label="@string/title_activity_debug"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.activity.FullscreenImageActivity"
            android:label="@string/title_activity_fullscreen_image"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/LightTheme.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.calebjones.spacelaunchnow.ui.activity.MainActivity" />
        </activity>

        <service
            android:name=".content.services.CalendarSyncService"
            android:exported="false" />

        <service android:name=".widget.CountDownWidgetService" android:exported="true"/>

        <activity
            android:name=".ui.activity.SupportActivity"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".ui.activity.BaseActivity" />
        <activity
            android:name=".ui.activity.DownloadActivity"
            android:label="@string/title_activity_download"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.activity.WebViewFallbackActivity"
            android:label="@string/title_activity_web_view_fallback"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/BaseAppTheme">
        </activity>

        <receiver android:name=".widget.CountDownWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/countdown_widget_info" />
        </receiver>
    </application>

</manifest>