<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.calebjones.spacelaunchnow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Required to act as a calendar service. -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required for in-app billing. -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".LaunchApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appNameLabel}"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        tools:replace="label,android:allowBackup">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.debug.DebugActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="screenSize"
            android:theme="@style/BaseAppTheme.Launcher"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="me.calebjones.spacelaunchnow.NIGHTMODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.launchdetail.activity.LaunchDetailActivity"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name=".ui.intro.OnboardingActivity"
            android:theme="@style/BaseAppTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GoogleMapsKey" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/CustomPreferenceTheme" />
        <activity android:name=".ui.orbiter.OrbiterDetailActivity" />
        <activity android:name=".ui.launcher.LauncherDetailActivity" />

        <receiver android:name=".content.receivers.UpdateUpcomingLaunchesReceiver">
            <intent-filter>
                <action android:name="UPDATE_UP_LAUNCHES" />
                <action android:name="UPDATE_PREV_LAUNCHES" />
                <action android:name="CHECK_NEXT_LAUNCH_TIMER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".content.receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="za.co.riggaroo.materialhelptutorial.tutorial.MaterialTutorialActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.settings.AboutActivity"
            android:theme="@style/BaseAppTheme" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dc9cc4c8ab9f9d19cc6ba7cf0cdef85dab29d1ec" />

        <activity
            android:name=".ui.imageviewer.FullscreenImageActivity"
            android:label="@string/title_activity_fullscreen_image"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/LightTheme.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>

        <activity
            android:name=".ui.supporter.SupporterActivity"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".common.BaseActivity" />
        <activity
            android:name=".ui.webview.WebViewFallbackActivity"
            android:label="@string/title_activity_web_view_fallback"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/BaseAppTheme" />

        <receiver
            android:name=".widget.LaunchCardCompactWidgetProvider"
            android:label="Launch Card">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="me.calebjones.spacelaunchnow.widget.LaunchCardCompactWidgetProvider.ACTION_WIDGET_REFRESH" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_launch_card_compact_info" />
        </receiver>
        <receiver
            android:name=".widget.LaunchWordTimerWidgetProvider"
            android:label="Next Launch">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="me.calebjones.spacelaunchnow.ACTION_WIDGET_REFRESH" />
                <action android:name="me.calebjones.spacelaunchnow.ACTION_WIDGET_CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_launch_word_timer_info" />
        </receiver>

        <service
            android:name="com.evernote.android.job.v21.PlatformJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.evernote.android.job.v14.PlatformAlarmService"
            android:exported="false" />

        <receiver
            android:name="com.evernote.android.job.v14.PlatformAlarmReceiver"
            android:exported="false">
            <intent-filter>

                <!-- Keep the filter for legacy intents -->
                <action android:name="com.evernote.android.job.v14.RUN_JOB" />
                <action android:name="net.vrallev.android.job.v14.RUN_JOB" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.evernote.android.job.JobBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.evernote.android.job.gcm.PlatformGcmService"
            android:enabled="false"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <receiver android:name=".content.receivers.OnUpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".content.notifications.NotificationReceiver"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>

</manifest>
