<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.calebjones.spacelaunchnow">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Required to act as a calendar service. -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" /> <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" /> <!-- Required for in-app billing. -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".LaunchApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appNameLabel}"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="label,android:allowBackup">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.debug.DebugActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/BaseAppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="me.calebjones.spacelaunchnow.NIGHTMODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.ui.launchdetail.activity.LaunchDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.intro.OnboardingActivity"
            android:theme="@style/BaseAppTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GoogleMapsKey" />

        <activity
            android:name=".ui.launcher.LauncherDetailActivity"
            android:theme="@style/BaseAppTheme" />

        <receiver android:name=".content.receivers.UpdateUpcomingLaunchesReceiver">
            <intent-filter>
                <action android:name="UPDATE_UP_LAUNCHES" />
                <action android:name="UPDATE_PREV_LAUNCHES" />
                <action android:name="CHECK_NEXT_LAUNCH_TIMER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".content.receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.AboutActivity"
            android:theme="@style/BaseAppTheme" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dc9cc4c8ab9f9d19cc6ba7cf0cdef85dab29d1ec" />

        <activity
            android:name=".ui.imageviewer.FullscreenImageActivity"
            android:label="@string/title_activity_fullscreen_image"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/BaseAppTheme.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".common.ui.supporter.SupporterActivity"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".local.common.BaseActivity" />
        <activity
            android:name=".ui.webview.WebViewFallbackActivity"
            android:label="@string/title_activity_web_view_fallback"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/BaseAppTheme" />

        <service android:name=".content.services.ListenerServiceFromWear">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" />

                <data
                    android:host="*"
                    android:path="/verify_remote_launch_spacelaunchnow_wear_app"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:path="/start-activity"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:path="/start-activity-supporter"
                    android:scheme="wear" />
            </intent-filter>
        </service>
        <service
            android:name=".widgets.launchlist.LaunchListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".widgets.WidgetJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".widgets.WidgetBroadcastReceiver" />
        <receiver
            android:name=".widgets.launchcard.LaunchCardCompactWidgetProvider"
            android:label="Compact Card">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="me.calebjones.spacelaunchnow.widget.LaunchCardCompactWidgetProvider.ACTION_WIDGET_REFRESH" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_launch_card_compact_info" />
        </receiver>
        <receiver
            android:name=".widgets.wordtimer.LaunchWordTimerWidgetProvider"
            android:label="Launch Timer">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="me.calebjones.spacelaunchnow.ACTION_WIDGET_REFRESH" />
                <action android:name="me.calebjones.spacelaunchnow.ACTION_WIDGET_CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_launch_word_timer_info" />
        </receiver>
        <receiver
            android:name=".widgets.launchlist.LaunchListWidgetProvider"
            android:label="Launch List (Supporters)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="me.calebjones.spacelaunchnow.widget.LaunchListWidgetProvider.ACTION_WIDGET_REFRESH" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_launch_list_info" />
        </receiver>
        <receiver android:name=".content.receivers.OnUpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.changelog.ChangelogActivity"
            android:theme="@style/BaseAppTheme" />

        <service android:name=".content.services.AppFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".content.services.AppFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_rocket" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="me.calebjones.spacelaunchnow.LAUNCH_UPDATE" />

        <activity
            android:name=".common.ui.launchdetail.launches.launcher.LauncherLaunchActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".common.ui.launchdetail.launches.agency.AgencyLaunchActivity"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".ui.spacecraft.OrbiterDetailActivity" />
    </application>

</manifest>