<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.calebjones.spacelaunchnow.widgets" >
    <application>
        <receiver
            android:name="LaunchCardCompactWidgetProvider"
            android:label="Compact Card">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="me.calebjones.spacelaunchnow.widget.LaunchCardCompactWidgetProvider.ACTION_WIDGET_REFRESH" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_launch_card_compact_info" />
        </receiver>
        <receiver
            android:name="LaunchWordTimerWidgetProvider"
            android:label="Launch Timer">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="me.calebjones.spacelaunchnow.ACTION_WIDGET_REFRESH" />
                <action android:name="me.calebjones.spacelaunchnow.ACTION_WIDGET_CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_launch_word_timer_info" />
        </receiver>
        <receiver
            android:name="LaunchListWidgetProvider"
            android:label="Launch List (Supporters)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="me.calebjones.spacelaunchnow.widget.LaunchListWidgetProvider.ACTION_WIDGET_REFRESH" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_launch_list_info" />
        </receiver>
    </application>
</manifest>
