<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.calebjones.spacelaunchnow.common">

    <application>
        <activity
            android:name=".customtab.webview.WebViewFallbackActivity"
            android:theme="@style/BaseAppTheme"/>
    </application>
</manifest>
